# General files to ignore
__pycache__
.DS_Store
.env
.idea
.vscode
node_modules
build
dist

# Django-specific files to ignore
*.log
db.sqlite3

# React-specific files to ignore
build
node_modules

# Other files to ignore
.gitattributes
.gitmodules
